.container {
    padding: 20px;
}

.card-box {
    background: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
    cursor: pointer;
}

.list-box {
    background: #ebecf0;
    width: 270px;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.btn {
    cursor: pointer;
    border: none;
    padding: 8px 12px;
    border-radius: 3px;
}

.btn-blue {
    background: #0079bf;
    color: white;
}

input {
    padding: 8px;
    width: 80%;
    margin-bottom: 10px;
}