name: CI - Docker Build

on:
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Build frontend Docker image
        run: docker build -t trello-frontend:ci ./frontend

      - name: Build backend Docker image
        run: docker build -t trello-backend:ci ./backend
